<h1>Edit a toy!</h1><br>
<form action="/toys/<%= @toy.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
    <input type="text" name="name" value="<%= @toy.name %>">
    <input type="text" name="category" value="<%= @toy.category %>">
    <input type="submit" value="Make my changes!">
</form>
<br>
<a class="button" href="/">Toyville Front Gate</a><br><br>
<a class="button" href="/logout">Logout</a>