<h1>Add a toy to your box!</h1>
<form action="/toys/new" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="category" placeholder="Category">
    <input type="submit" value="Add Toy to your Box!">
</form>