<h1>Add a toy to your box!</h1><br>
<form action="/toys" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="category" placeholder="Category">
    <input type="submit" value="Add Toy to your Box!">
</form>
<br>
<br>
<a class="button" href="/">Toyville Front Gate</a><br><br>
<a class="button" href="/logout">Logout</a>