
<h1>Please Login to Continue</h1><br>
<form action="/login" method="POST">
    
    Username:<input type="text" name="username"><br>
    Password:<input type="password" name="password"><br>

    <input type="submit" value="Login">
</form>
<br>
<br>
<a class="button" href="/">Toyville Front Gate</a><br>
