<h1>Welcome to Toyville!</h1>
<img src="images/toyville.png" class="img-responsive main-image" width="50%">
<h3><a class="button" href="/login">Login / My Toy Box</a></h3>
<h3><a class="button" href="/signup">Sign Up</a></h3>